@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Header */
nav{
    display: flex;
    padding: 20px 28px;
    justify-content: space-between;
    align-items: center;
}

.nav-logo a{
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
    color: black;
}

.nav-links{
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav-links li{
    list-style: none;
    font-size: 16px;
}

.nav-links li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav-links li button{
    background-color: #486284;
    color: white;
    border: none;
    padding: 8px 21px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 600;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.search-box input {
    border: solid 1px;
    border-radius: 15px;
    padding: 6px 8px;
    outline: none;
    font-size: 16px;
    width: 180px;
}

.search-box .search-btn {
    background-color: transparent;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 16px;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .menu-toggle {
    display: contents;
  }

  .nav-links {
    flex-direction: column;
    background-color: #004466;
    position: absolute;
    top: 65px;
    right: 20px;
    padding: 12px 0;
    width: 180px;
    display: none;
    border-radius: 8px;
    color: white;
  }

  .nav-links.active {
    display: flex;
    gap: 25px;
  }

  .nav-links li {
    text-align: center;
  }

  .divider{
    display: none;
  }

  .nav-links li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
  }

  .search-box {
    display: none;
  }
}

/* Footer Styling */
.footer {
  background-color: #486284; /* Warna utama */
  color: #FFFFFF; /* Warna teks */
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-about,
.footer-links,
.footer-contact {
  flex: 1;
  margin: 10px;
}

.footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.footer p,
.footer a {
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  padding-top: 10px;
}